In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
# making connection to Progress DataBase
engine = create_engine('postgresql+psycopg2://postgres:Superman78@127.0.0.1:5432/BaseBall_Project')

### Loading Salaries.csv to clean and load into Database

In [3]:
data_to_Load = "Teams.csv"
team_data_df = pd.read_csv(data_to_Load)

In [20]:
team_data_df.columns

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'Ghome',
       'DivWin', 'WCWin', 'LgWin', 'WSWin', 'name', 'park', 'attendance',
       'BPF', 'PPF', 'teamIDBR', 'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [21]:
team_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2955 non-null   int64
 1   lgID            2905 non-null   object
 2   teamID          2955 non-null   object
 3   franchID        2955 non-null   object
 4   divID           1438 non-null   object
 5   Rank            2955 non-null   int64
 6   Ghome           2556 non-null   float64
 7   DivWin          1410 non-null   object
 8   WCWin           774 non-null    object
 9   LgWin           2927 non-null   object
 10  WSWin           2598 non-null   object
 11  name            2955 non-null   object
 12  park            2921 non-null   object
 13  attendance      2676 non-null   float64
 14  BPF             2955 non-null   int64
 15  PPF             2955 non-null   int64
 16  teamIDBR        2955 non-null   object
 17  teamIDlahman45  2955 non-null   object
 18  teamIDretro     2955 non-null   object
dtypes: float64(2), int64(4), object(13)
memory usage: 438.8+ KB

In [4]:
team_data_df.to_sql(name='Teams', con=engine,if_exists='replace')

In [31]:
data_to_Load = "people.csv"
people_data_df = pd.read_csv(data_to_Load)

**Nothing to drop**


Keeping all columns in Players

In [32]:
people_data_df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'nameFirst', 'nameLast', 'nameGiven', 'weight', 'height', 'bats',
       'throws', 'debut', 'finalGame'],
      dtype='object')

In [33]:
people_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20093 entries, 0 to 20092
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      20093 non-null  object
 1   birthYear     19979 non-null  float64
 2   birthMonth    19811 non-null  float64
 3   birthDay      19670 non-null  float64
 4   birthCountry  20032 non-null  object
 5   birthState    19561 non-null  object
 6   birthCity     19919 non-null  object
 7   deathYear     9887 non-null   float64
 8   deathMonth    9886 non-null   float64
 9   deathDay      9885 non-null   float64
 10  nameFirst     20056 non-null  object
 11  nameLast      20093 non-null  object
 12  nameGiven     20056 non-null  object
 13  weight        19277 non-null  float64
 14  height        19357 non-null  float64
 15  bats          18913 non-null  object
 16  throws        19117 non-null  object
 17  debut         19892 non-null  object
 18  finalGame     19892 non-null  object
dtypes: float64(8), object(11)
memory usage: 2.9+ MB

In [6]:
people_data_df.to_sql(name='Players', con=engine, if_exists='replace', index=True, index_label=None, schema=None)

In [34]:
data_to_Load = "Salaries.csv"
salary_data_df = pd.read_csv(data_to_Load)
#salary_data_df.head()

In [22]:
salary_data_df.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [24]:
salary_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int64
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  object
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.0+ MB

**Nothing to drop**


Keeping all columns in Players

In [8]:
#LOAD the csv/dataFrame into the table
salary_data_df.to_sql(name='Salary', con=engine, if_exists='replace')

In [9]:
data_to_Load = "AwardsPlayers.csv"
awards_data_df = pd.read_csv(data_to_Load)
#awards_data_df.head()

In [17]:
awards_data_df.columns

Index(['playerID', 'awardID', 'yearID', 'lgID', 'tie', 'notes'], dtype='object')

In [18]:
awards_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6236 entries, 0 to 6235
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  6236 non-null   object
 1   awardID   6236 non-null   object
 2   yearID    6236 non-null   int64
 3   lgID      6235 non-null   object
 4   tie       49 non-null     object
 5   notes     4768 non-null   object
dtypes: int64(1), object(5)
memory usage: 292.4+ KB

In [10]:
#LOAD the csv/dataFrame into the table
awards_data_df.to_sql(name='Awards', con=engine, if_exists='replace')

In [11]:
#CLEAN and LOAD AllStar
data_to_Load = "AllStarFull.csv"
allStar_data_df = pd.read_csv(data_to_Load)
#allStar_data_df.head()

In [15]:
allStar_data_df.columns

Index(['playerID', 'yearID', 'gameNum', 'gameID', 'teamID', 'lgID', 'GP',
       'startingPos'],
      dtype='object')

In [16]:
allStar_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5375 entries, 0 to 5374
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerID     5375 non-null   object
 1   yearID       5374 non-null   float64
 2   gameNum      5374 non-null   float64
 3   gameID       5325 non-null   object
 4   teamID       5375 non-null   object
 5   lgID         5375 non-null   object
 6   GP           5375 non-null   int64
 7   startingPos  1691 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 336.1+ KB

**Nothing to drop**


Keeping all columns in AllStars

In [ ]:
#LOAD the csv/dataFrame into the table
allStar_data_df.to_sql(name='AllStar', con=engine, if_exists='replace')

In [25]:
#CLEAN and LOAD Batting
data_to_Load = "Batting.csv"
batting_data_df = pd.read_csv(data_to_Load)
#batting_data_df.head()

**Nothing to drop**

Keeping all columns in Batting

In [26]:
batting_data_df.columns

Index(['playerID', 'yearID', 'teamID', 'lgID', 'G', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [27]:
batting_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108789 entries, 0 to 108788
Data columns (total 21 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  108789 non-null  object
 1   yearID    108789 non-null  int64
 2   teamID    108789 non-null  object
 3   lgID      108052 non-null  object
 4   G         108789 non-null  int64
 5   AB        108789 non-null  int64
 6   R         108789 non-null  int64
 7   H         108789 non-null  int64
 8   2B        108789 non-null  int64
 9   3B        108789 non-null  int64
 10  HR        108789 non-null  int64
 11  RBI       108033 non-null  float64
 12  SB        106421 non-null  float64
 13  CS        85248 non-null   float64
 14  BB        108789 non-null  int64
 15  SO        106689 non-null  float64
 16  IBB       72139 non-null   float64
 17  HBP       105973 non-null  float64
 18  SH        102721 non-null  float64
 19  SF        72686 non-null   float64
 20  GIDP      83348 non-null   float64
dtypes: float64(9), int64(9), object(3)
memory usage: 17.4+ MB

In [ ]:
#LOAD the csv/dataFrame into the table
batting_data_df.to_sql(name='Player_Batting', con=engine, if_exists='replace')

In [28]:
#CLEAN and LOAD Pitching
data_to_Load = "pitching.csv"
pitching_data_df = pd.read_csv(data_to_Load)
#pitching_data_df.head()

**Nothing to drop**

Keeping all columns in Pitching

In [29]:
pitching_data_df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [30]:
pitching_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48399 entries, 0 to 48398
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  48399 non-null  object
 1   yearID    48399 non-null  int64
 2   stint     48399 non-null  int64
 3   teamID    48399 non-null  object
 4   lgID      48267 non-null  object
 5   W         48399 non-null  int64
 6   L         48399 non-null  int64
 7   G         48399 non-null  int64
 8   GS        48399 non-null  int64
 9   CG        48399 non-null  int64
 10  SHO       48399 non-null  int64
 11  SV        48399 non-null  int64
 12  IPouts    48399 non-null  int64
 13  H         48399 non-null  int64
 14  ER        48399 non-null  int64
 15  HR        48399 non-null  int64
 16  BB        48399 non-null  int64
 17  SO        48399 non-null  int64
 18  BAOpp     43958 non-null  float64
 19  ERA       48305 non-null  float64
 20  IBB       33821 non-null  float64
 21  WP        48399 non-null  int64
 22  HBP       47665 non-null  float64
 23  BK        48399 non-null  int64
 24  BFP       48396 non-null  float64
 25  GF        48399 non-null  int64
 26  R         48399 non-null  int64
 27  SH        29212 non-null  float64
 28  SF        29212 non-null  float64
 29  GIDP      28081 non-null  float64
dtypes: float64(8), int64(19), object(3)
memory usage: 11.1+ MB

In [ ]:
#LOAD the csv/dataFrame into the table
pitching_data_df.to_sql(name='Player_Pitching', con=engine, if_exists='replace')

In [35]:
#CLEAN and LOAD Pitching
data_to_Load = "managers.csv"
managers_data_df = pd.read_csv(data_to_Load)
#managers_data_df.head()

In [37]:
managers_data_df.columns

Index(['playerID', 'yearID', 'teamID', 'lgID', 'inseason', 'G', 'W', 'L',
       'rank', 'plyrMgr'],
      dtype='object')

In [38]:
managers_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3567 entries, 0 to 3566
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  3567 non-null   object
 1   yearID    3567 non-null   int64
 2   teamID    3567 non-null   object
 3   lgID      3500 non-null   object
 4   inseason  3567 non-null   int64
 5   G         3567 non-null   int64
 6   W         3567 non-null   int64
 7   L         3567 non-null   int64
 8   rank      3566 non-null   float64
 9   plyrMgr   3567 non-null   object
dtypes: float64(1), int64(5), object(4)
memory usage: 278.8+ KB

In [ ]:
#LOAD the csv/dataFrame into the table
managers_data_df.to_sql(name='Managers', con=engine, if_exists='replace')

In [39]:
#CLEAN and LOAD Fielding
data_to_Load = "fielding.csv"
fielding_data_df = pd.read_csv(data_to_Load)
#fielding_data_df.head()

**Nothing to drop**

Keeping all columns in Fielding

In [40]:
fielding_data_df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'POS', 'G', 'GS',
       'InnOuts', 'PO', 'A', 'E', 'DP', 'PB', 'WP', 'SB', 'CS', 'ZR'],
      dtype='object')

In [43]:
fielding_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144768 entries, 0 to 144767
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  144768 non-null  object
 1   yearID    144768 non-null  int64
 2   stint     144768 non-null  int64
 3   teamID    144768 non-null  object
 4   lgID      143256 non-null  object
 5   POS       144768 non-null  object
 6   G         144768 non-null  int64
 7   GS        98612 non-null   float64
 8   InnOuts   114839 non-null  float64
 9   PO        144768 non-null  int64
 10  A         144768 non-null  int64
 11  E         144767 non-null  float64
 12  DP        144768 non-null  int64
 13  PB        11709 non-null   float64
 14  WP        1169 non-null    float64
 15  SB        8922 non-null    float64
 16  CS        8922 non-null    float64
 17  ZR        1169 non-null    float64
dtypes: float64(8), int64(6), object(4)
memory usage: 19.9+ MB

In [ ]:
#LOAD the csv/dataFrame into the table
fielding_data_df.to_sql(name='Fielding', con=engine, if_exists='replace', index=False)

### At this point you should be able to refresh the tables in your BaseBall_Projects and see (9) tables

Example for pulling tables into dataFrame below: UnComment to TEST.

In [ ]:
#df = pd.read_sql_table("Team", engine)
#df