# Mock Model Using Sample Data

In [ ]:
# Initial imports.
import pandas as pd
from path import Path
from sqlalchemy import create_engine
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from config import db_password

# Loading and Preprocessing

In [1]:
# Code for connecting Postgres to Pandas
# import psycopg2
# # Connection parameters, yours will be different
# param_dic = {
#     "host"      : "localhost",
#     "database"  : "globaldata",
#     "user"      : "myuser",
#     "password"  : "Passw0rd"
# }
# def connect(params_dic):
#     """ Connect to the PostgreSQL database server """
#     conn = None
#     try:
#         # connect to the PostgreSQL server
#         print('Connecting to the PostgreSQL database...')
#         conn = psycopg2.connect(**params_dic)
#     except (Exception, psycopg2.DatabaseError) as error:
#         print(error)
#         sys.exit(1) 
#     print("Connection successful")
#     return conn

In [ ]:
# Function that creates the dataframe
# def postgresql_to_dataframe(conn, select_query, column_names):
#     """
#     Tranform a SELECT query into a pandas dataframe
#     """
#     cursor = conn.cursor()
#     try:
#         cursor.execute(select_query)
#     except (Exception, psycopg2.DatabaseError) as error:
#         print("Error: %s" % error)
#         cursor.close()
#         return 1
    
#     # Naturally we get a list of tupples
#     tupples = cursor.fetchall()
#     cursor.close()
    
#     # We just need to turn it into a pandas dataframe
#     df = pd.DataFrame(tupples, columns=column_names)
#     return df

In [66]:
# Loading data (May or may not need to preprocess more. We need tabular data and all integers)
file_path = Path("C:\\Users\\fcber\\Desktop\\Class Folder\\Mod 20\\final_project\\resources\\AwardsSharePlayers.csv")
df = pd.read_csv(file_path)
df.head()

    awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0  Cy Young    1956   ML   fordwh01        1.0         16         1.0
1  Cy Young    1956   ML  maglisa01        4.0         16         4.0
2  Cy Young    1956   ML  newcodo01       10.0         16        10.0
3  Cy Young    1956   ML  spahnwa01        1.0         16         1.0
4  Cy Young    1957   ML  donovdi01        1.0         16         1.0

In [67]:
# Dropping null values
df = df.dropna()

In [68]:
# Dropping unnecessary columns
df = df.drop(columns=["lgID","playerID"], axis=1)
df.head()

    awardID  yearID  pointsWon  pointsMax  votesFirst
0  Cy Young    1956        1.0         16         1.0
1  Cy Young    1956        4.0         16         4.0
2  Cy Young    1956       10.0         16        10.0
3  Cy Young    1956        1.0         16         1.0
4  Cy Young    1957        1.0         16         1.0

In [69]:
# Checking data types for each column
df.dtypes

awardID        object
yearID          int64
pointsWon     float64
pointsMax       int64
votesFirst    float64
dtype: object

In [77]:
#Eliminating one award so we have binary results
df = df[df['awardID'] != 'Cy Young'] 
df

                 awardID  yearID  pointsWon  pointsMax  votesFirst
681                  MVP    1911        2.0         64         0.0
682                  MVP    1911        8.0         64         0.0
683                  MVP    1911        3.0         64         0.0
684                  MVP    1911        4.0         64         0.0
685                  MVP    1911       64.0         64         8.0
...                  ...     ...        ...        ...         ...
6874  Rookie of the Year    2016       24.0        150         0.0
6875  Rookie of the Year    2016       14.0        150         0.0
6876  Rookie of the Year    2016        1.0        150         0.0
6877  Rookie of the Year    2016        1.0        150         0.0
6878  Rookie of the Year    2016        1.0        150         0.0

[5736 rows x 5 columns]

In [78]:
# Encoding our awardID column 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['awardID'] = le.fit_transform(df2['awardID'])
df2

      awardID  yearID  pointsWon  pointsMax  votesFirst
681         0    1911        2.0         64         0.0
682         0    1911        8.0         64         0.0
683         0    1911        3.0         64         0.0
684         0    1911        4.0         64         0.0
685         0    1911       64.0         64         8.0
...       ...     ...        ...        ...         ...
6874        1    2016       24.0        150         0.0
6875        1    2016       14.0        150         0.0
6876        1    2016        1.0        150         0.0
6877        1    2016        1.0        150         0.0
6878        1    2016        1.0        150         0.0

[5736 rows x 5 columns]

In [80]:
# Define features set
X = df2.copy()
X = X.drop("awardID", axis=1)
X.head()

     yearID  pointsWon  pointsMax  votesFirst
681    1911        2.0         64         0.0
682    1911        8.0         64         0.0
683    1911        3.0         64         0.0
684    1911        4.0         64         0.0
685    1911       64.0         64         8.0

In [81]:
# Define the target set.
y = df2["awardID"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

# Random Forest Model

In [82]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [83]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4302, 4)
(1434, 4)
(4302,)
(1434,)

In [84]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [85]:
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(4588, 4)
(1148, 4)
(4588,)
(1148,)

In [86]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [87]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [88]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [89]:
# Create a random forest classifier. We can tweeak the n_estimators to optimize the model more
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [90]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluating Results

In [91]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([0, 0, 1, ..., 0, 0, 1])

In [92]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         1232            0
Actual 1            0          202

In [93]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

1.0

In [94]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1232            0
Actual 1            0          202

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1232
           1       1.00      1.00      1.00       202

    accuracy                           1.00      1434
   macro avg       1.00      1.00      1.00      1434
weighted avg       1.00      1.00      1.00      1434

In [95]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.21197084, 0.04086139, 0.6770778 , 0.07008997])

In [96]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.6770777962097996, 'pointsMax'),
 (0.21197084366958144, 'yearID'),
 (0.07008997326757616, 'votesFirst'),
 (0.040861386853042726, 'pointsWon')]